name: DAST - IDOR Example

on:
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        working-directory: idor
        run: npm install

      - name: Start application
        working-directory: idor
        run: |
          node server.js &
          sleep 20

      - name: Run OWASP ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.13.0
        with:
          target: 'http://localhost:3000'
          fail_action: false
          allow_issue_writing: false
